    /* -----------------------------
   GRID 1: Two-column layout
   Desktop:
   Row 1: Site Header (full width)
   Row 2: Content + Aside (2 columns)
   Row 3: Site Footer (full width)
-------------------------------- */
    /*  ---------------Box Sizing-----------------  */
    html {
      box-sizing: border-box;
    }

    *,
    *:before,
    *:after {
      box-sizing: inherit;
    }

    /* Starter */
    main>* {
      font-family: Avenir, Montserrat, Corbel, "URW Gothic", source-sans-pro,
        sans-serif;
      font-weight: normal;
      background-color: #c0c0c0;
      border-radius: 10px;
      padding: 20px;
    }

    /* Make <main> a grid container */
    main {
      display: grid;
      gap: 20px;
      max-width: 80vw;
      margin: 20px auto;

    grid-template-columns: 1fr 3fr;
    }

    header.primary {
  grid-column: 1 / -1;
}

footer.primary {
  grid-column: 1 / -1;
}

aside {
  grid-column: 1;
  grid-row: 2 / 4;
}

#content {
  grid-column: 2;
  grid-row: 2;
}

#blog {
  grid-column: 2;
  grid-row: 3;
}




@media (max-width: 900px) {
  main {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "aside"
      "content"
      "blog"
      "footer";
  }
}
